# Table of Contents
1. Import Libaries
2. Import Data
3. Exercise
4. Export exercise
5. Task

# 1.0 Importing Libraries

In [110]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 2.0 Import Data

In [112]:
# Create path for main project folder
path = r'/Users/sharnti/Desktop/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [113]:
# Test path
path

'/Users/sharnti/Desktop/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [114]:
# Import products dataset as dataframe (df_prod)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'),index_col = False)

In [115]:
# Import orders dataset as dataframe (df_ords)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'),index_col = False)

# 3.0 Exercise

## Learning Goals

- Find and address mixed type variables in a dataframe
- Find and address missing values in a dataframe
- Find and address duplicate values in a dataframe

## 3.1 Mixed Type Data

In [120]:
# Create a dataframe
df_test = pd.DataFrame()

In [121]:
# Create a mixed-type column
df_test['mix'] = ['a', 'b', 1, True]

In [122]:
# View columns from df_test
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [123]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [124]:
# Convert type from numeric to string
df_test['mix'] = df_test['mix'].astype('str')

## 3.2 Missing Values

In [126]:
# Check df_prods for missing values across all columns
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [127]:
# Create dataframe subset of the missing values column 'product_name'
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [128]:
# View the df_nan data frame
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [129]:
# View (rows, columns) of df_prods dataframe
df_prods.shape

(49693, 5)

In [130]:
# Create subset of df_prods with only non-missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [131]:
# View (rows, columns) of new df_prods_clean dataframe
df_prods_clean.shape

(49677, 5)

## 3.3 Duplicates

In [133]:
# Create a new subset of df_prods_clean (df_dups) containing only rows that are duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [134]:
# View df_dups
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [135]:
# View (rows, columns) of df_prods_clean dataframe for reference before dropping duplicate rows
df_prods_clean.shape

(49677, 5)

In [136]:
# Create a new dataframe (df_prods_clean_no_dups) that doesn’t include the identified duplicate rows.
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [137]:
# View (rows, columns) of df_prods_clean_no_dups
df_prods_clean_no_dups.shape

(49672, 5)

# 4.0 Export

In [139]:
#export checked products dataframe
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# 5.0 Task

## Question 1
The consistency checks conducted on __df_prods__ can be found under the heading __3.0 Exercise__.

## Question 2

Before I conduct any consisteny checks and cleaning, I want to know how many rows and columns I have to begin with.

In [144]:
# View (rows, columns) of df_ords dataframe for reference before removing any duplicates or missing values.
df_ords.shape

(3421083, 7)

In [145]:
df_ords.describe().round(2)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00,3214874.00
mean,1710541.00,1710542.00,102978.21,17.15,2.78,13.45,11.11
std,987581.74,987581.74,59533.72,17.73,2.05,4.23,9.21
min,0.00,1.00,1.00,1.00,0.00,0.00,0.00
25%,855270.50,855271.50,51394.00,5.00,1.00,10.00,4.00
50%,1710541.00,1710542.00,102689.00,11.00,3.00,13.00,7.00
75%,2565811.50,2565812.50,154385.00,23.00,5.00,16.00,15.00
max,3421082.00,3421083.00,206209.00,100.00,6.00,23.00,30.00

_Things that look a bit strange and need to be investigated further_

- I think the Unamed Column is the index column from my last exercise that has been exported and then re-imported. I think this might need ot be dropped.
- __days_since_prior_order__ has a lower count than all other columns. This may indicate missing values.
- I wondered about the __days_since_prior_order__ max of 30,  but upon checking with the data dictionary, this is the upper limit for this variable.
- Other than the above, I can't see any inconsistencies.

## Question 3 & 4

In [148]:
# Check for mixed-type data in your df_ords dataframe.
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixted type columns were found.

In [150]:
# View dataype for each column to double-check the above.
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

## Question 5

In [152]:
# Check df_ords for missing values across all columns
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

As suspected from our initial exploratory analysis, __days_since_prior_order__ has missing values.

## Question 6

In [155]:
# Create dataframe subset of the missing values column 'days_since_prior_order'
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [156]:
# View df_nan
df_nan

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

Looking back at our initial exploratory analysis, we can see that there are __206209__ users at instacart; the same number as the missing values in our __days_since_prior_order__ column. This indicates that the NaN (missing) values are the first order of each column.

As such, these do no need to be removed. It could be beneficial to make another column that "flags" an order based on whether or not it is the first customer order or not.

In [158]:
# Create the flag column based on NaN values in 'days_since_prior_order'
df_ords['first_order'] = df_ords['days_since_prior_order'].isna()

In [159]:
# Check if new column has been added
df_ords.info

<bound method DataFrame.info of          Unnamed: 0  order_id  user_id  order_number  orders_day_of_week  \
0                 0   2539329        1             1                   2
1                 1   2398795        1             2                   3
2                 2    473747        1             3                   3
3                 3   2254736        1             4                   4
4                 4    431534        1             5                   4
...             ...       ...      ...           ...                 ...
3421078     3421078   2266710   206209            10                   5
3421079     3421079   1854736   206209            11                   4
3421080     3421080    626363   206209            12                   1
3421081     3421081   2977660   206209            13                   1
3421082     3421082    272231   206209            14                   6

         order_hour_of_day  days_since_prior_order  first_order
0                        8                     NaN         True
1                        7                    15.0        False
2                       12                    21.0        False
3                        7                    29.0        False
4                       15                    28.0        False
...                    ...                     ...          ...
3421078                 18                    29.0        False
3421079                 10                    30.0        False
3421080                 12                    18.0        False
3421081                 12                     7.0        False
3421082                 14                    30.0        False

[3421083 rows x 8 columns]>

## Question 7 & 8

In [161]:
# Create a new subset of df_ords (df_dups) containing only rows that are duplicates
df_dups = df_ords[df_ords.duplicated()]

In [162]:
# View df_dups
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

There are no duplicate rows.

## Question 9

Before we export, I'm going to remove the unnamed column and create a new data frame 'df_ords_clean'.

In [166]:
# Drop column 'Unnamed: 0'
df_ords_clean = df_ords.drop('Unnamed: 0', axis=1)

In [167]:
df_ords_clean

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0,False
3421079,1854736,206209,11,4,10,30.0,False
3421080,626363,206209,12,1,12,18.0,False
3421081,2977660,206209,13,1,12,7.0,False
3421082,272231,206209,14,6,14,30.0,False

### Export

In [169]:
#export checked products dataframe
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'),index=False)

In [170]:
#export checked orders dataframe
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'),index=False)